<form class="form form-newreview" action="" method="post" id="form-validate">
    <fieldset class="fieldset">
        <div class="field customer name required">
            <label class="label" for="customer_name"><span><?= $block->escapeHtml(__('Your name')) ?></span></label>
            <div class="control">
                <input name="customer_name"  id="customer_name" type="text" class="input-text" required>
            </div>
        </div>
        <div class="field content required">
            <label class="label" for="content"><span><?= $block->escapeHtml(__('Your review')) ?></span></label>
            <div class="control">
                <input name="content"  id="content" type="text" class="input-text" required>
            </div>
        </div>

    </fieldset>
    <div class="actions-toolbar">
        <div class="primary"><button type="submit" class="action save primary"><span><?= $block->escapeHtml(__('Send')) ?></span></button></div>
        <div><a class="action back" href="/elogic_review/"><span><?= $block->escapeHtml(__('Back')) ?></span></a></div>
    </div>
</form>