
<style>
    table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
    td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
    tr:nth-child(even) { background-color: #dddddd; }
    .narrow-column{width:15%},

</style>
<h2>Customers' reviews</h2>
<table>
    <tr>
        <th class="narrow-column">Author</th>
        <th class="narrow-column">Creation Time</th>
        <th class="narrow-column">Updating Time</th>
        <th>Content</th>
    </tr>
    <?php
    foreach ($block->getReviewCollection() as $key=>$review){
        echo '<tr>
                    <td>'.$review->getCustomerName().'</td>
                    <td>'.$review->getCreationTime().'</td>
                    <td>'.$review->getUpdateTime().'</td>
                    <td>'.$review->getContent().'</td>
              </tr>';
    }
    ?>
</table>
<div class="actions-toolbar" style="margin-top: 10px;">
    <div><a class="action add" href="/elogic_review/index/add/"><span><?= $block->escapeHtml(__('Leave a review')) ?></span></a></div>
</div>